*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
}

.parent{
    background-color: white;
    width: 700px;
    padding: 50px;
    padding-bottom: 30px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0px 25px #c94aff8c;
}

#parent{
    width: 100%;
}

#parent h2{
    margin-bottom: 10px;
}

.choices button{
    width: 100%;
    background-color: white;
    color: black;
    padding: 13px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    text-align: start;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.choices button:hover{
    color: white;
    background-color: #c94aff;
    border: 1px solid #c94aff;
    box-shadow: 0 4px 25px #c94aff8c;
}

#btns{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

#btns button{
    width: 20%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

#btns button:hover{
    background-color: white;
    border: 1px solid black;
    color: #000;
}

.false{
    background: rgb(176, 0, 0) !important;
    box-shadow: 0 4px 25px rgb(176, 0, 0) !important;
    border: 1px solid rgb(176, 0, 0) !important;
}

.true{
    background: rgb(0, 176, 3) !important;
    box-shadow: 0 4px 25px rgb(0, 176, 3) !important;
    border: 1px solid rgb(0, 176, 3) !important;
}

#score{
    background-color: white;
    width: 45%;
    padding: 15px 0px;
    font-size: 1.5rem;
    margin-top: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 25px #c94aff8c;
}