*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    font-family: Arial, Helvetica, sans-serif;
}

#form{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background-color: white;
    width: 25%;
    padding: 10px;
    gap: 5px;
    border-radius: 5px;
    margin: 50px 0;
    padding: 0 20px;
}

.error{
    color: red;
    margin-bottom: 20px;
}

input , select , textarea , button{
    outline: none;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e3e3e3;
    font-size: 1rem;
}

label{
    font-size: 1rem;
}

#gender{
    display: flex;
    gap: 5px;
}

#gender input{
    margin-right: 10px;
}

button{
    background-color: blue;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.5s ease-in;
    margin: 20px 0;
    margin-bottom: 10px;
}

button:hover{
    background-color: rgb(10, 10, 92);
}